body {
    background-color: rgb(73, 128, 94);
    background-size: cover;
    background-repeat: no-repeat;
}

.bodyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 5px;
    width: 80%;
    background-color: rgb(178, 235, 209);
    box-shadow: 0 0 20px #292929;
}
li {
    list-style-type: none
}
.newTask {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    
}
.createTask {
    border: 1px solid #868686;
    border-radius: 10px;
    padding: 9px 24px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    width: 60%;
    box-shadow: 0 0 10px #292929;
}
.createTaskBtn {
    width: 40px;
    height: 22px;
    margin-left: 4px;
    margin-bottom: 20px;
    background: none;
    border: none;
    
}

.icon-success {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	background-color: #52b358;
	border-radius: 50%;
    
}

.icon-success::after {
	content: '✓';
	color: #fff;
	font-size: 20px;
	font-weight: bold;
}

.filters {
    display: flex;
    align-items: center;
}

.filters button {
    background-color: wheat;
    margin-left: 5px;
    border: 0,5px solid ;
    
}

.dateFilter {
    margin-left: 10px;
    margin-top: 8px;  
}

.dateFilter p {
    margin-right: 5px; 
}

.arrow {
    margin: 0px 5px;
}

.tasks {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-items: stretch;
    padding: 0;
}

.task_body {
    display: flex;
  
}

.create_new_task_body::placeholder {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #868686;
  }

.side button {
    margin: 10px;
}

.left_side {
    margin-left: 20px;
    width: 10%;
    display: flex;
    justify-content: space-between;
    margin-right: 3%;
}

.right_side {
    width: 80%;
    display: flex;
    justify-content: flex-start;
}

.filter {
    margin-bottom: 33px;
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: center;;
}
  
.filters_by_date {
    margin-left: auto;
    display: flex;
    align-items: center;
}
  
.filters_by_date p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-right: 19px;
}
  
.active_arrow {
fill: #c92121;
}

.filtersBtn {
background: rgb(73, 128, 94);
border-radius: 20%;
padding: 8px 3% 6px;
text-align: center;
font-weight: 600;
font-size: 14px;
line-height: 21px;
color: #000000;
border: 1px solid;
}

.filtersBtn {
margin-left: 14px;
}

.active_filter {
color: #f8f9ff;
background-color: #c92121;
border-color: #c92121;
}



.reversed {
display: flex;
flex-direction: column-reverse;
}


.side {
display: flex;
align-items: center;

}

.donebtn {
border: 1px solid #292929;

background: none;
border-radius: 50%;
padding: 4px 4px;
margin-right: 13px;
}

.donebtn:hover {
border: 1px solid #c92121;
}

.date {
font-size: 12px;
line-height: 18px;
color: #000000;
}

.delete_task {
background: none;
outline: none;
border: none;
margin-left: auto;
margin-right: 20px;
}

.delete_task:hover {
stroke: #c92121;
}

.done {
background-color: #c92121;
border-color: #c92121;
}

#pagination {
display: flex;
align-items: center;
justify-content: center;
}

#pagination li {
font-size: 16px;
padding: 3px 22px;
border: 0.5px solid #292929;
box-shadow: 0 0  5px inset  #292929;
border-radius: 3px;
margin-top: 50px;
list-style-type: none;
}

#pagination li + li {
margin-left: 12px;
}

#pagination li:hover {
border-color: #c92121;

}

.active_page {
background: #c92121;
color: #f8f9ff;
}


